body {
    background-color:rgb(109, 174, 218)
  }
  
  h1,
  h2 {
    text-align: left;
    color: rgb(95, 93, 93);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(228, 82, 113);
  
  
  }
  
  img {
    width: 700px;
    height: 500px;
  
  }
  
  
  
  footer {
    text-align: left;
   
  }
  
  .bye {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  .navbar {
    overflow: hidden;
    background-color: rgb(85, 142, 160);
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .main {
    margin-top: 30px;
   
  }