* {
    color: white;
    font-size: 22px;
}
body {
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
}

#container {
    width: 80%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

h1{
  font-size: 35px;
}

.par {
    height: 250px;
}
button{
    background-color: lightgray;
    color: black;
}
#line {
    margin-top: 15px;
    width: 2px;
    height: 380px;
    background-color: white;
}
header img {
    width: 125%;
}
#id {
    position: absolute;
    left: 20%;
    top: 80px;
    color: white;
}

#LOL{
  font-size: 25PX;
}

#WHY{
  font-size: 25PX;
  
}
#hey{
  margin-right: 50px;
}
.layla {
    list-style-type: none;
    height: 60px;
    overflow: hidden;
    background-color: #253a3d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }
  .change{
    font-size: 50px;;
  }

  .center {
    margin: 0;
    margin-top: -40px;
  }
  .last {
    margin-top: 40px;
  }
  #list1 {
    margin-top: -10px;
  }
  hr {
    height: 0px;
    width: 100%;
    margin-top: -10px;
  }

  #header1 {
    margin: 0;
    height: 20px;
  }
  .lo {
    height: 25px;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    flex-direction: column;
    margin-top: 18px;
    border-right:1px solid #bbb;
  }

  .everything {
    width:50% auto;
  }
  

  .lo a {
    display: block;
    color: white;
    text-align: center;
   padding-right: 80px;
   padding-top: 10px;
   padding-bottom: 10px;

    text-decoration: none;
  }

  #uniq {
    border-right: 1px solid #253a3d;
  }

  .parta{
    display:grid;
    grid-template-columns: 100%;
    

  }

  .all{
    display:grid;
    grid-template-columns: 100%;
    font-size: 50px;
  }

  .whole{
    display:grid;
    grid-template-columns: 25% 75%;
  }

  .last{
    display:grid;
    grid-template-columns: 50% 1% 49%;
    column-gap: 10px;
  }
  #tada{
    color:black
  }
  
  #foot{
    text-align: center;
    font-size: 15px;
  }
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 